// @require '../node_modules/vuetify/src/stylus/settings/_colors'
//
// $theme := {
//   primary: $blue.darken-2
//   accent: $red.accent-2
//   secondary: $grey.lighten-1
//   info: $blue.lighten-1
//   warning: $amber.darken-2
//   error: $red.accent-4
//   success: $green.lighten-2
// }
//
// $font-size-root := 14px

@require './app.css'

body
  font-family -apple-system, system-ui, BlinkMacSystemFont, "Helvetica Neue", "HelveticaNeue", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", sans-serif
  text-rendering optimizeLegibility
  font-size 14px
  line-height 1.5
  word-spacing 0.05em
  color rgba(0,0,0,.87)
  -webkit-font-smoothing antialiased
  // background-color #fafafa
  // background-color lighten(#eceef1, 30%)
  // color #34495e

a
  text-decoration none
  color rgb(134,142,150)
  &:hover
  &:active
  &:focus
    color #000

p
  margin 0

select
	appearance none
	background-color transparent
	border 1px solid #dddfe2
	border-radius 1px
	box-sizing inherit
	padding 8px
	width 100%

	&:focus
		outline 0

*::selection
  background rgba(78,188,221,0.15)

.hover:after
  border 1px dotted #03a9f4 !important

.application--dark
  .hover:after
    border 1px dotted #03a9f4 !important

.application--dark
  *::selection
    background #2C93FA
    color #fff

  a
    color rgb(134,142,150)
    &:hover
    &:active
    &:focus
      color #fff

.fade-enter-active, .fade-leave-active
  transition all .2s ease

.fade-enter, .fade-leave-active
  opacity 0
