@import '../node_modules/vuetify/src/stylus/settings/_colors'

$theme := {
  primary: $grey.darken-4
  accent: $red.accent-2
  secondary: $grey.lighten-1
  info: $blue.lighten-1
  warning: $amber.darken-2
  error: $red.accent-4
  success: $green.lighten-2
}

@import '../node_modules/vuetify/src/stylus/main'

body
  font-family -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif
  text-rendering optimizeLegibility
  font-size 14px
  background-color lighten(#eceef1, 30%)
  margin 0
  height 100vh
  word-spacing 0.05em
  // color #34495e
  // -webkit-font-smoothing auto
  // overflow-y scroll

// h1,h2,h3,h4,h5,h6
//   margin auto

.application--light
  color #000

a
  // color #34495e
  color rgb(134,142,150)
  text-decoration none

  &:hover
  &:active
  &:focus
    color #000

p
  margin 0

.fade-enter-active, .fade-leave-active
  transition all .2s ease

.fade-enter, .fade-leave-active
  opacity 0

.cube
  position relative
  margin 10px auto
  text-align center
  padding 10px
  transition .3s cubic-bezier(.25,.8,.25,1)
