html
body
  margin 0
  padding 0
  box-sizing border-box

// List
ul
  list-style none

// Form
button
input
select
textarea
ul
  margin 0
  font-family inherit
  font-size inherit
  line-height inherit
  color: inherit;

*
  box-sizing inherit
  &:before
  &:after
    box-sizing inherit

// Media
img
embed
object
audio
video
  max-width 100%

// Iframe
iframe
  border 0

// Table
table
  border-collapse collapse
  border-spacing 0

td
th
  padding 0
  text-align left
