extends layout

block content
  #app
    header.header
      nav.inner
        a(href='/')
    .news-view.view
      .news-list-nav
        a.disabled < prev
        span 1/25
        a(href='/top/2') more >
      .news-list
        ul
          each group, i in groups
            li.news-item(style='')
              span.score= i+1
              span.title
                a(href='http://www.bbc.com/news/world-us-canada-39943267', target='_blank', rel='noopener')= group.name
                span.host  (bbc.com)
              br
              span.meta
                span.time
                  | 5 hours ago
                span.comments-link
                  | 
                  a(href='/item/14355720') 12 comments
              // 
