extends layout

block content
  //- #groups
  //-   header.header
  //-     nav.inner
  //-       a(href='/')
  //-   .news-view.view
  //-     .news-list-nav
  //-       a.disabled < prev
  //-       span 1/25
  //-       a(href='/top/2') more >
  //-     .news-list
  //-       ul
  //-         each group, i in groups
  //-           li.news-item(style='')
  //-             span.score= i+1
  //-             span.title
  //-               a(href="http://facebook.com/" + group.id, target='_blank', rel='noopener')= group.name
